@import url("../all_css/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Tao background va to mau nen */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

/* thiet ke tao khung form */
.container {
    position: relative;
    width: 850px;
    height: 700px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

/* chia doi khung form, nua phai se la register co mau xanh */
.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: seagreen;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
}

/* can giua noi dung trong form */
form {
    width: 100%;
}

/* căn chữ register */
.container h1 {
    font-size: 48px;
    margin: -10px 0;
}

/* fix lại các ô */
.input-box {
    position: relative;
    margin: 30px 0;
}

/* fix lại các ô nhập liệu */
.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px; /* thêm 50px 13px 20px để tránh nhập quá dài quá lố nhìn xấu */
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

/* Chỉnh lại các icon lock, user nam đúng trong khung */
.input-box img {
    position: absolute;
    right: 20px;
    top: 48%;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

/* nút register */
.btnRegister {
    width: 100%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

/* Các icons */
.social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}